@model Commons.Models.Page<DAL.Models.Sucursales>

<div class="box box-info">
    <div class="box-header with-border filtro-grilla">
        <span class="txt-titulo-box">Listado de Monedas</span>
        <div class="input-group input-group-sm pull-right" style="max-width: 300px;">
            <a onclick="nuevaSucursal()" class="btn btn-info btn-sm">
                <i class="fa fa-plus"><span class="hidden-xs"> Nueva</span></i>
            </a>
        </div>
    </div>
    <div class="box-body">
        <table id="listadoSucursales" class="table table-hover table-bordered table-responsive borde_interno">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Dirección
                    </th>
                    <th>
                        Telefono
                    </th>
                    <th>
                        Latitud
                    </th>
                    <th>
                        Longitud
                    </th>
                    <th>
                        Grupo
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.latitude)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.longitude)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.group)
                        </td>
                        <td>
                            <a onclick="editSucursal('@item.Id')" title="Editar Sucursal" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.Id" confirm-icon="Danger" confirm-no="Cancelar" confirm-yes="Borrar" confirm="¿Esta seguro de borrar esta Sucursal?" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<modal title="Nueva Sucursal" callback-modal="true" function="nuevaSucursal" load-url="/Core/Sucursales/_Create/" size="Medium"></modal>
<modal title="Edición de Sucursal" callback-modal="true" function="editSucursal" load-url="/Core/Sucursales/_Update/" size="Medium"></modal>

<script>
    $(document).ready(function () {
        $('#listadoSucursales').DataTable({
            "columnDefs": [{ "targets": 0 }, { class: "text-center", "searchable": false, "orderable": false, "targets": 1 }],
            "language": {
                'url': '@Url.Content("~/lib/arg.json")'
            }
        });
    });
</script>
